body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#auth, #chat {
    width: 300px;
    margin: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    color: ##ffffff;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #009227;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #033500;
}

#user-list {
    margin-bottom: 10px;
}

#user-list div {
    padding: 10px;
    background-color: #121212;
    margin: 5px 0;
    cursor: pointer;
}

#chat-room {
    display: none;
}

#messages {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #1f1f1f;
}

.my-message {
    background-color: #00b528;
    color: #fff2f2;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    align-self: flex-start;
    max-width: 70%;
}

.other-message {
    background-color: #3e3e3e;
    color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    align-self: flex-end;
    max-width: 70%;
}

.group-chat {
    background-color: #003600;
    color: blue;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.user {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.user.online {
    color: green;
}

.user.offline {
    color: red;
}

.my-message {
    text-align: right;
    color: black;
}

.other-message {
    text-align: left;
    color: black;
}

.group-message {
    color: black;
}
